*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

body{
    background-color: gray;
    background-size: cover;
    background-position: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container > div {
  margin: 5px;
  font-size: 30px;
}

#search-bar{
  margin-top: 2%;
  width : 500px;
  height: 30px;
  border-radius: 1%;
  font-size: 16px;
}

#search-bar:active{
  border: 2px solid lightblue;
}

.row {
	padding-top: 24px;
	padding-bottom: 24px;
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px black;
}

table {
  font-family: Georgia;
  border-collapse: none;
  width: 100%;
}

th {
  font-size: 24px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
}

td {
  border: none;
  text-align: left;
  padding: 8px;
}