*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

body{
    background-color: gray;
    background-size: cover;
    background-position: center;
}

.row {
	padding-top: 24px;
	padding-bottom: 24px;
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px black;
}

table {
  font-family: Georgia;
  border-collapse: none;
  width: 100%;
}

th {
  font-size: 24px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
}

td {
  border: none;
  text-align: left;
  padding: 8px;
}

.btn2 {
	margin-top: -4%;
	margin-left: 80%;
	font-size: 36px;
	text-align: center;
	background-color: gray;
 	width: 90px;
  	padding: 10px;
  	border: 2px solid black;
  	border-radius: 50%;
}

.btn2:hover {
    background: red;
    color: white;
}

.btn3:hover {
	border-radius: 50%;
    background: gray;
    width: 15px;
    color: white;
}